<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Shelf.css">
</head>

<body>

    <section class="section_products pad-y-lg"
        style="background-image:url('https://dw9to29mmj727.cloudfront.net/sections/2016/24907-READ_header_2000x800_options_colours_grey30.png');"
        id="section2">
        <div class="shelf-wrapper row">
            <div class="clearfix mar-t-md mar-b-lg">
                <h3 class="section_title type-md type-lg--lg line-solid float-l--lg">Hot VIZ releases</h3>

                <div class="section_see_all float-r--lg mar-t-md type-rg disp-n disp-bl--md">
                    <a aria-label="see all Hot VIZ releases" href="/any/home/section/109102/more"
                        class="color-off-black hover-red">
                        See all<span aria-hidden="true">&nbsp;&gt;</span>
                    </a>
                </div>

            </div>

            <div class="shelf flex flex-wrap type-rg line-caption">
                <article class="g-3 g-3--md mar-b-lg bg-white color-off-black type-sm type-rg--lg">
                    <figure class="ar-square">
                        <a href="javascript:void('Favorite')"
                            class="heart-btn o_requires-login color-mid-gray hover-red z-2 pad-x-md pad-y-sm pos-a t-0 l-0"
                            data-target-id="pr_16094" data-target-title="Hirayasumi, Vol. 3"
                            aria-label="Add Hirayasumi, Vol. 3 to favorites">
                            <i aria-hidden="true" class="icon-like"></i>
                            <span class="o_votes-up disp-ib color-mid-gray mar-l-sm v-mid type-sm">
                                +12
                            </span>
                        </a>


                        <a tabindex="-1" role="presentation" href="/manga-books/manga/hirayasumi-volume-3/product/8087"
                            class="product-thumb ar-inner type-center">
                            <img class="" alt="" src="https://dw9to29mmj727.cloudfront.net/products/197474924X.jpg"
                                style="display: inline-block;">
                        </a>
                    </figure>
                    <div class="pad-x-md pad-x-lg--lg pad-b-md pad-b-lg--lg">
                        <div class="mar-b-sm"><a class="color-mid-gray hover-red">Manga</a></div>
                        <a class="color-off-black hover-red"
                            href="/manga-books/manga/hirayasumi-volume-3/product/8087">Hirayasumi, Vol. 3</a>
                    </div>
                </article>

                <article class="g-3 g-3--md mar-b-lg g-omega bg-white color-off-black type-sm type-rg--lg">
                    <figure class="ar-square">
                        <a href="javascript:void('Favorite')"
                            class="heart-btn o_requires-login color-mid-gray hover-red z-2 pad-x-md pad-y-sm pos-a t-0 l-0"
                            data-target-id="pr_16059" data-target-title="Chainsaw Man, Vol. 16"
                            aria-label="Add Chainsaw Man, Vol. 16 to favorites">
                            <i aria-hidden="true" class="icon-like"></i>
                            <span class="o_votes-up disp-ib color-mid-gray mar-l-sm v-mid type-sm">
                                +68
                            </span>
                        </a>


                        <span class="product-tag pad-x-rg pad-y-sm pos-a t-0 r-0 z-2 bg-off-black color-white">Best
                            Seller</span>
                        <a tabindex="-1" role="presentation"
                            href="/manga-books/manga/chainsaw-man-volume-16/product/7984"
                            class="product-thumb ar-inner type-center">
                            <img class="" alt="" src="https://dw9to29mmj727.cloudfront.net/products/197474874X.jpg"
                                style="display: inline-block;">
                        </a>
                    </figure>
                    <div class="pad-x-md pad-x-lg--lg pad-b-md pad-b-lg--lg">
                        <div class="mar-b-sm"><a class="color-mid-gray hover-red">Manga</a></div>
                        <a class="color-off-black hover-red"
                            href="/manga-books/manga/chainsaw-man-volume-16/product/7984">Chainsaw Man, Vol. 16</a>
                    </div>
                </article>

                <article class="g-3 g-3--md mar-b-lg bg-white color-off-black type-sm type-rg--lg">
                    <figure class="ar-square">
                        <a href="javascript:void('Favorite')"
                            class="heart-btn o_requires-login color-mid-gray hover-red z-2 pad-x-md pad-y-sm pos-a t-0 l-0"
                            data-target-id="pr_16143" data-target-title="After God, Vol. 1"
                            aria-label="Add After God, Vol. 1 to favorites">
                            <i aria-hidden="true" class="icon-like"></i>
                            <span class="o_votes-up disp-ib color-mid-gray mar-l-sm v-mid type-sm">
                                +27
                            </span>
                        </a>


                        <span class="product-tag pad-x-rg pad-y-sm pos-a t-0 r-0 z-2 bg-off-black color-white">Series
                            Debut!</span>
                        <a tabindex="-1" role="presentation" href="/manga-books/manga/after-god-volume-1/product/8083"
                            class="product-thumb ar-inner type-center">
                            <img class="" alt="" src="https://dw9to29mmj727.cloudfront.net/products/1974749703.jpg"
                                style="display: inline-block;">
                        </a>
                    </figure>
                    <div class="pad-x-md pad-x-lg--lg pad-b-md pad-b-lg--lg">
                        <div class="mar-b-sm"><a class="color-mid-gray hover-red">Manga</a></div>
                        <a class="color-off-black hover-red"
                            href="/manga-books/manga/after-god-volume-1/product/8083">After God, Vol. 1</a>
                    </div>
                </article>

                <article class="g-3 g-3--md mar-b-lg g-omega g-omega--md bg-white color-off-black type-sm type-rg--lg">
                    <figure class="ar-square">
                        <a href="javascript:void('Favorite')"
                            class="heart-btn o_requires-login color-mid-gray hover-red z-2 pad-x-md pad-y-sm pos-a t-0 l-0"
                            data-target-id="pr_16092" data-target-title="UZUMAKI: Animated TV Series"
                            aria-label="Add UZUMAKI: Animated TV Series to favorites">
                            <i aria-hidden="true" class="icon-like"></i>
                            <span class="o_votes-up disp-ib color-mid-gray mar-l-sm v-mid type-sm">
                                +5
                            </span>
                        </a>


                        <span class="product-tag pad-x-rg pad-y-sm pos-a t-0 r-0 z-2 bg-off-black color-white">Digital
                            First</span>
                        <a tabindex="-1" role="presentation" href="/anime/tv-series/uzumaki-video/product/8212"
                            class="product-thumb ar-inner type-center">
                            <img class="" alt="" src="https://dw9to29mmj727.cloudfront.net/products/782009248323.jpg"
                                style="display: inline-block;">
                        </a>
                    </figure>
                    <div class="pad-x-md pad-x-lg--lg pad-b-md pad-b-lg--lg">
                        <div class="mar-b-sm"><a class="color-mid-gray hover-red">TV Series</a></div>
                        <a class="color-off-black hover-red" href="/anime/tv-series/uzumaki-video/product/8212">UZUMAKI:
                            Animated TV Series</a>
                    </div>
                </article>



            </div>

            <div class="section_see_all mar-b-md type-rg disp-bl disp-n--md">
                <a aria-label="see all products" href="/any/home/section/109102/more"
                    class="color-off-black hover-red weight-bold">
                    See all<span aria-hidden="true">&nbsp;&gt;</span>
                </a>
            </div>

        </div>
    </section>

</body>

</html>